@font-face {
    font-family: 'MyFont';
    src: url('../Fonts/my-font.woff2') format('woff2'),
         url('../Fonts/my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

button:focus{
    outline: none;
}

body {
  background-image: url("../images/backery-backgroud2.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 25px;
  margin: 0px;
}

#sections {
    background-color: whitesmoke;
    min-height: 60vh;
    width: 70%;
    border-radius: 10px;
    padding: 15px;
}

#buttons {
    display: flex;
    margin-bottom: 0px;
    padding-left: 5px;

}

button {
    border-top-right-radius: 10px;
    border: solid 1px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    margin-right: 2px;
    background-color:white;
}

h1 {
    margin: 0px;
    text-align: center;
    font-family: 'myFont', sans-serif;
}

li {
 list-style: none;
}

#bakery, #cafe {
    display: block;
    margin: auto;
}

#cafe { margin-top: 35px; }

#div-flex {
    display:flex;
    justify-content: space-around;
}

#div-flex li, h2 {
    text-align: center;
    margin: 15px;
}

